.hero {
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 400px) {
        position: relative !important;
        top: -60px !important;
        // bottom: 60px !important;
        background-size: 250% !important;
        background-position: center !important;
    }
    


    &-text {
        height: 80%;
        width: 50%;
        // border: 1px solid red;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 900px) {
            width: 100%;
            font-size: 1.2em;
        }

        & p {

            @media screen and (max-width: 900px) {
                text-align: center !important;
            }
        }

        & h1 {
            font-size: 2em;
            
            @media screen and (max-width: 400px) {
                font-size: 1.2em;
            }

            @media screen and (max-width: 900px) {
                font-size: 1.4em;
                text-align: center;
            }

        }

        & .hero-text-buttons {
            display: flex;
            gap: 10px;

            @media screen and (max-width: 900px) {
                justify-content: center;
            }
        }

        & .hire-me {
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 20px;
            font-size: 14px;
        }

        & .socials {
            display: flex;
            gap: 10px;
            border: 1px solid #252525;
            border-radius: 20px;
            padding: 0 10px;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-image {
        height: 700px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        perspective: 1000px;

        @media screen and (max-width: 1440px) {
            display: none;
        }
        

        &-1 {
            height: 80%;
            min-width: 700px;
            width: 100%;
            color: white;
            transform: translateZ(-100px);
            
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            border-radius: 50% 80%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.2);
            animation: fadeIn 4s ease-in-out infinite alternate;

            @keyframes fadeIn {
                from { border-radius: 50% 80%; }
                to { border-radius: 60% 50%; }
            }
        }
    }
}

.hero-image-1-h2-one {
    position: absolute;
    top: 80px;
    left: 10px;
    color: white;
    font-size: 24px;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid white;
    transform-origin: 0 50%;
    transform: translateZ(-50px);
    z-index: -20; // Lower z-index so it appears behind &-1 at certain points
    // animation: rotateAround 8s linear infinite; // Rotation animation
}


.hero-image-1-h2-two {
    position: absolute;
    bottom: 0;
    left: 50px;
    color: white;
    transform-origin: 0 50%; // Set origin for 3D rotation
    font-size: 24px;
    border-bottom: 1px solid white;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;

    z-index: 20;
    transform: translateZ(-280px) rotateY(10deg) rotateX(50deg);
    
}

.hero-image-1-h2-three {
    position: absolute; // Position independently of &-1 for rotation
    bottom: 75px;
    right: 50px;
    transform-origin: 100% 100%;
    transform: translateZ(170px) rotate(30deg,-45deg); // Set origin for 3D rotation
    font-size: 24px;
    z-index: 200;
    border-bottom: 1px solid white;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.hero-image-1-h2-four {
    position: absolute; // Position independently of &-1 for rotation
    top: 45px;
    right: 20px;
    transform-origin: 100% 100%;
    transform: translateZ(-160px) rotateY(5deg); // Set origin for 3D rotation
    font-size: 24px;
    z-index: 200;
    border-bottom: 1px solid white;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;
    color: white;
}


.hero  > img {
    @media screen and (max-width: 900px) {
        display: none;
    }
}